@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/*Header Styling*/

div.logo {
  height: 3.25rem;
  width: 3.25rem;
  background-color: $oil;
  margin-left: auto;
  margin-right: auto;
}

#page-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

nav.top-bar.visible-for-large-up{
  height: 10rem;
  background-color: $white;
  padding-top: 6rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

nav.container section.ul {
    display: inline-block;
    list-style: none;
}

#header-lower-bar {
  background-color: $silver;
  height: 1.75rem;
  margin-left: 0.35rem;
  margin-right: 0.35rem;

  ul {
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
  }
  li {
    margin-left: 2px;
    display: inline-block;
  }
  a {
    text-decoration: none;
  }
}

/*Content Styling*/

div.cart-wrapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5vh;
  margin-bottom: 5vh;

  .panel {
  }
  .product-container {
    background-color: rgba($silver, 0.6);
    margin-top: 0.25rem;

  }

  #product-left {
    display: inline-block;
    width: 33%;
    float: left;
  }

  #product-right {
    display: inline-block;
    width: 67%;
    padding-left: 1rem;
  }

  #product-info img {
    padding: 0;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    height: 150px;
    background-color: $oil;
    width: 150px;
  }

  #test {
    padding: 0;
    margin:;
    div {
      background-color: rgba($silver, 0.6);
      border: 2px solid $white;
      margin: 0;
    }
  }
}
